
.App {
  text-align: center;
  color: white;
  padding-top: 6vw;
  font-size: 1.2vw;
  background-color: black;
  background-image: url("../resources/bg1.jpg");
  background-size:cover;
  background-repeat: repeat;
  /* height: 50%; */
  
  }
  .App h1{
    font-size: 5vh;
  }

.title{
  font-size: 1vw;
  padding-top: 1.5vw;
  color: white;
}
.title h1{
  font-size: 4vh;
}
.titlesponsorimg{
  /* display: flex; */
  padding-left: 40vw;
  padding-top: 3.8vw;
  align-items: center;
}
.card_shadowt{
  height: 20vw;
  width: 20vw;
  background-color: #AADCDB;
  transform: rotate(0deg);
  position: relative;
  z-index: 10;
  border-radius: 1.3vw;
  margin-bottom: 4.3vh;
}

.cardt{
  height: 20vw;
  width: 20vw;
  background-color: #686FAB;
  transform: rotate(0deg);
  border-radius: 1.3vw;

  z-index: 10;
} 
.imagecardt{
  height: 20vw ;
  width: 20vw;
  overflow: hidden; 
  z-index: 10;
  border-radius: 1.3vw;
  background-image: url('../resources/gucci.png');
  background-size: contain;
}

/* #imgdesign{
  height: 11.2vw;
  width:36.3vw ;
  z-index: 1;
  /* right: 29vw; 
  position: absolute;
} */
.cotitle{
  font-size: 0.85vw;
  padding-top: 2vw;
  color: white;
}
.cotitle h1{
  font-size: 3.6vh;
}
.cotitlesponsorimg{
 
  display: flex;
  padding-left: 40.6vw;
  padding-top: 2vw;
  align-items: center;

}
.card_shadowct{
  height: 18vw;
  width: 18vw;
  background-color: #AADCDB;
  transform: rotate(0deg);
  position: relative;
  z-index: 10;
  border-radius: 1.3vw;
  margin-bottom: 4vh;
}

.cardct{
  height: 18vw;
  width: 18vw;
  background-color: #686FAB;
  transform: rotate(0deg);
  /* z-index: 10; */
  border-radius: 1.3vw;

}
.imagecardct{
  height: 18vw ;
  width: 18vw;
  overflow: hidden; 
  /* object-fit: fill; */
  /* display: flex; */
  z-index: 10;
  /* position: relative; */
  border-radius: 1.3vw;
  background-image: url('../resources/gucci.png');
  background-size: contain;
}

#coimgdesign{
  height: 9vw;
  width:33vw ;
  z-index: 1;
  right: 33vw;
  position: absolute;
}
.powered{
  font-size: 0.8vw;
  padding-top: 1.7vw;
  color: white;
}
.powered h1{
  font-size: 3vh;
}
.poweredimg{
  height: 16vw ;
  width: 16vw;
  /* padding-top: 3vw; */
  
  margin: 2vw auto;
  background-image: url('../resources/gucci.png');
  background-size: contain;
  border-radius: 1.3vw;
}

.sponsorfooter{
   /* display: grid; */
   padding-top: 2vw;
  /* padding-left: 10vw; */
  padding-bottom: 2vw;
  /* border-bottom: 0.5vw solid black; */
}

/* .sponsor_row{
  align-items: center;
  display: flex;
  gap:1vw;
  height: 22.5vh;
    padding-top: 8vw;
    padding-bottom: 2.1vw;
    /* border: 3px solid greenyellow;} */
 

.sponsor_card{
  color: #fff;
  flex-direction: column;
  height: 29.3vh;
  text-decoration: none;
  width: 20vw;
  align-items: center;
    display: flex;
    padding-bottom: 2vw;
    /* border: 5px solid red; */
}
#sponsorimage{
  
  width: 15vw ;
  align-items: center;
  display: flex;
  height: 25vh;
  justify-content: center;
  object-fit: cover;
}

.sponsor_name{
  color: #bebebe;
  font-family: sans-serif;
  /* margin-top: 0.5vh; */
  padding-bottom: 0.5vh;
  text-align: center;
  font-weight: bolder;
  font-size: 1.5vw;
  padding-top: 0.8vw;
}
.sponsor_tag{
  color: #bebebe;
  font-family: sans-serif;
  /* margin-top: 0.5vh; */
  text-align: center;
  font-style: italic;
  font-size: 1.2vw;
  padding-bottom: 2vw;
}

.heading2{
  font-size: 2.3vw;
  font-weight: 600;
  padding-bottom: 5vw;
}

.sponsors{
  display: grid;
  /* flex-wrap: nowrap; */
  grid-template-columns: repeat(4, 1fr);
  width: 80vw;
  row-gap: 10vh;
  column-gap: 2vw;
  margin: 0 auto;
}

.sponsorimg{
  width: 13vw;
  aspect-ratio: 1/1;

}

#name {
  font-size: 1vw;
  padding-bottom: 1vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#partner {
  font-size: 1.2vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#design{
  width: 38vw;
  height: 11.2vw;
  position: absolute;
  z-index:  1;
  right: 29vw;
  margin-top: 5vh;
}
#designct{
  width: 34vw;
  height: 11.4vw;
  position: absolute;
  z-Index: 1;
  right: 31.8vw;
  margin-bottom: 5vh;
}

@media (max-width: 1442px) {
  #sponsorimg{
     width: 13vw;
     height: 22vh;
  }
} 

 @media (max-width: 1025px ),( max-height: 1360 ) {
  
  .card_shadowt,.cardt , .imagecardt{
    height: 35vw;
    width: 35vw ;
    right: 8vw;
   }
   .card_shadowct,.cardct, .imagecardct{
    height: 28vw ;
    width: 28vw ;
    right: 5vw;
   }
   .poweredimg{
    height:23vw ;
    width: 23vw;
   }
   #design{
    margin-top: 3vh;
    height: 22vw;
    width: 65vw;
    right: 17vw;
  }
  #designct{
    height: 18vw;
    width: 55vw;
    right: 23vw;
    margin-bottom: 5vw;
  }
  #name{
    font-size: 1vh;
    padding-top: 3vw;
  }
  
  .sponsors{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 6vh;
  }
  #work{
    font-size: 3vh;
  }
  .App h1{
    font-size: 2.5vh;
  }
  

  #partner{
    font-size: 1.3vh;
    padding-top: 1vh;
  }
  .heading2{
    font-size: 2vh;
    padding: 10px 0;
    padding-bottom: 2vh;
  }
  }
  
   @media (max-width: 432px){
   
    .App h1{
      font-size: 2.4vh;
      padding-top: 1vw;
    }
    
   .card_shadowt,.cardt , .imagecardt{
    height: 35vw;
    width: 35vw ;
    right: 8vw;
   }
   .card_shadowct,.cardct, .imagecardct{
    height: 28vw ;
    width: 28vw ;
    right: 5vw;
   }
   .poweredimg{
    height:23vw ;
    width: 23vw;
   }

    #name{
      font-size: 1vh;
      padding-top: 3vw;
    }
    
    .sponsors{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 6vh;
    }
    .sponsorimg{
      width: 18vw;
      aspect-ratio: 1/1;
    }
    #design{
      margin-top: 1.2vh;
      height: 22vw;
      width: 65vw;
      right: 17vw;
    }
    #designct{
      height: 18vw;
      width: 60vw;
      right: 19vw;
    }
    #partner{
      font-size: 1.3vh;
      padding-top: 1vh;
    }
    .heading2{
      font-size: 1.6vh;
      padding: 10px 0;
    }

  } 
